<html>
<head>
    {% load cookies %}
</head>
<body>
    {% if carros  %}    
    <h1>Garagem de: {%cookie 'telauth'%}</h1>
    <h2>Carros:</h2>
    {% for c in carros %}
    <h3>{{ c }}</h3>
    {% endfor %}
    {% else %}
    <h1>Usuário não logado</h1>
    {% endif %}
</body>
</html>