<html>
<head>
</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message  }}</li>
        {% endfor %}
    </ul>
    {% endif %}    
    <form action="." method="post" enctype="application/x-www-form-urlencoded">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit">Registro</button>
    </form>
</body>
</html>