<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<form method="POST">
    {% csrf_token %}
    {% for field in form %}
        <p>

        {{ field.label_tag }}
        {{ field}}
        {% if field.help_text %}
             <small>{{ field.help_text }}</small>
        {% endif %}
         {% for error in field.errors %}
             <strong>{{ error }}</strong>
        {% endfor %}
        {% if form.non_field_errors %}
             <small>{{ form.non_field_errors}}</small>
        {% endif %}
        </p>
    {% endfor %}

    <input type="submit"></input>
</form>

</body>
</html>